* { margin: 0; padding: 0; box-sizing: border-box; }

html, body { width: 100%; overflow-x: hidden; }

body{
  background-color: #fffefd;
}


.header-global {
  background-color: #7e2003;
  height: 80px;
  width: 100%;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.header-inner {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  height: 40px;
  cursor: pointer;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}
.content {
  width: calc(100% - 300px);
  margin-bottom: 50px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero-cover {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("./assets/imgs/hover.png");
  background-size: cover;
  background-position: center;
  height: clamp(200px, 22vw, 320px);
  overflow: hidden;
  margin-top: 16px;
}


.headline-container {
  background-image: url("./assets/icons/holzbrett.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 110px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  position: relative;
  overflow: hidden;
}


.logo {
  height: 80px;
}

.hover-lift {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.hover-lift:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(232, 177, 177, 0.903);
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #fdbdbd;
  border-radius: 4px;
  padding: 0 5px 2px 5px;
  cursor: pointer;
}

.reviews img {
  width: 24px;
}

.burger-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 8px #fff9f2;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.food-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
}

.subhead-container {
  height: 60px;
  background-color: #d81e1e;
  width: 100%;
  margin-top: clamp(24px, 7vw, 80px);
  margin-bottom: 30px;
}

.subhead-container-inner {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 2090px;
  margin: auto;
  transform: translate(0, -25%);
}

.subhead-icon {
  width: 80px;
  object-fit: contain;
  background: none;
}

.footer-global {
  background-color: #7e2003;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 100%;
  margin-top: -100px;
}


.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55px;
  width: 100vw;
  background-color: white;
  position: fixed;
  bottom: -7px;
  left: 0;
  z-index: 1001;
}

.bottom-nav button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
}

.bottom-nav img {
  height: 30px;
  display: block;
}

.dialog-mode {
  border-radius: 12px;
  border: 1px solid #ab916c23;
  width: 90%;
  max-width: 500px;
  max-height: 300px;
  margin: auto;
}

dialog{
  text-align: center;
}

.dialog-mode-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: auto;
}

dialog::backdrop {
  background: rgba(5, 22, 32, 0.8);
  backdrop-filter: blur(5px);
}

.dialog-img{
  width: 100px;
}

.footer-dialog{
  margin-top: 20px;
}
.headline-container {
  position: relative; 
}

.rating-on-wood {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  top: 80%;

  z-index: 5;
}
